NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:3000

# Demo database used for this take-home.
PGHOST=shakibdb-intifadah.h.aivencloud.com
PGPORT=28451
PGDATABASE=defaultdb
PGUSER=avnadmin
PGPASSWORD=AVNS_ECkrbVzmFM1oiqQGh2O

PG_SSL_CA_PATH=./ca.pem
